<!html>
<head>
<script>
function createCORSRequest(method, url) {
	var xhr = new XMLHttpRequest();
	if ("withCredentials" in xhr) {
		xhr.open(method, url, true);
	} else if (typeof XDomainRequest != "undefined") {
		xhr = new XDomainRequest();
		xhr.open(method, url);
	} else {
		xhr = null;
	}
	return xhr;
}

function callMeCORS(method){
	var url = document.getElementById("url").value;
	var request = createCORSRequest(method, url);
	
	request.onerror = () => {
		alert('Error while calling CORS');
	}

	request.onload = () => {
		alert("Success for method "+method+", requested data: " + request.responseText);
	}

	request.send();
}
</script>
</head>
<body>
<input id="url" value="http://localhost:8090/test.json"></input>
<button onclick="callMeCORS('GET')">Call simple CORS</button>
<button onclick="callMeCORS('PUT')">Call complex CORS</button>
</body>